Data Structures 
List

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

In [ ]:
print(list1[0])
print(list1[4])
print(list1[-1])
print(list1[1][3])
print(list2[3])
print(list2[3][2])
print(list1[0:4])
print(list2[3:5])

In [ ]:
[1,2,3] + [5,6,7]

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

In [ ]:
list1 + list2

In [ ]:
len(list2)

In [ ]:
len(list1)

In [ ]:
list3 = [3,4,67,2,1]
list4 = ['3','4','67','2','1','four','three']

In [ ]:
print(max(list3))
print(min(list3))
print(max(list4))
print(min(list4))

In [ ]:
list4.append('two')
list4.append('three')
print(list4)

In [ ]:
list4.insert(3,56)
print(list4)
print(list4.count('three'))

list4.clear()
print(list4)

In [ ]:
list3 = [3,4,67,2,1]
list4 = ['3','4','67','2','1','four','three']

In [ ]:
print(list4.index('1'))
list4.pop(3)
print(list4)
list4.remove('67')
print(list4)
list4.reverse()
print(list4)

In [ ]:
print(list3)
list3.sort()
print(list3)
print(list4)
list4[5] = 23
print(list4)

Copy

In [ ]:
colors = ["red","blue","green","orange"]
colors_copy = colors.copy()
print(colors_copy)
colors_copy.sort()
print(colors_copy)
print(colors) # colors remains unsorted

In [ ]:
# Sorting colors_copy has no effect on the colors list. They are two distinct objects. 
# Compare that to the following, which continues from the code above:
colors_copy2 = colors
print(colors_copy2)
colors_copy2.sort()
print(colors_copy2)
print(colors)

In [ ]:
print("id colors: ", id(colors))
print("id colors_copy: ", id(colors_copy))
print("id colors_copy2: ", id(colors_copy2))

In [ ]:
colors = ["red","blue","green","orange","brown","yellow"]
del colors[0]
print(colors)
del colors[1:3]
print(colors)
del colors
print(colors)

list comprehension

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)

In [ ]:
words = ['hello', 'world', 'python']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

In [ ]:
def triple(x):
    return x * 3

numbers = range(1, 11)
tripled_numbers = [triple(x) for x in numbers]
print(tripled_numbers)

Ranges

In [ ]:
print(list(range(10)))
print(list(range(5, 11)))
print(list(range(0, 13, 3)))
print(list(range(-4, 4)))

In [ ]:
a = ["ant", "bat", "cat", 42]
for i in range(len(a)):
    print(f"a[{i}] = {a[i]}")

In [ ]:
# printing the tuples in object directly
for index, element in enumerate(a):
    print(f"a[{index}] = {element}")

# printing the tuples in object directly
for ele in enumerate(a):
    print (ele)

# changing index and printing separately
for count, ele in enumerate(a, 100):
    print (count, ele)

Tuples

In [ ]:
tup = (3,4,67,2,1)
print(tup)
tup[2] = 8

Converting Sequences to Strings and Splitting Strings into Lists

In [ ]:
colors = ("red","blue","green","orange")
string_color =' '.join(colors)
print(string_color)
string_color =':'.join(colors)
print(string_color)
string_color ='-:-'.join(colors)
print(string_color)

In [ ]:
sentence ='We are no longer the Knights Who Say "Ni!"'
list_of_words = sentence.split(' ')
print(list_of_words)
list_of_words = sentence.split('"')
print(list_of_words)

Dictionary

In [ ]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}
print(dict1['age'])
print(dict2['worked-for'])
print(dict2['worked-for'][1])
dict1['subjects'] = ["OS",'DBMS','Artificial Intelligence']
print(dict1)
dict1['degree']='Master of Science'
print(dict1)

In [ ]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

In [ ]:
len(dict1)

In [ ]:
print(dict1.get('name'))
print(dict1.get('sex'))
print(dict1.get('sex','unknown'))

In [ ]:
print(dict1.get('name'))
print(dict1.get('sex'))
print(dict1.get('sex','Not found'))

In [ ]:
print(dict1.pop('name'))
print(dict1)
print(dict1.pop('sex'))

In [ ]:
grades = {
   "English": 97,
   "Math": 93,
   "Art": 75
}
print(grades)

In [ ]:
print(grades.keys())
print(grades.values())
print(grades.items())

In [ ]:
del grades["Math"] # deletes Math key
print(grades)

Set

In [ ]:
classes = {"English","Math","Global Studies","Art"}
print(type)

In [ ]:
tech = ['google','amazon','apple','tesla','microsoft','apple', 'google']
print(tech)
s_tech = set(tech)
list_tech = list(s_tech)
print(list_tech)

In [ ]:
a = set([10,20,30,40,50])
b = set([10,60,70])
print(a)
print(b)

In [ ]:
print(a.intersection(b))
print(a.difference(b))
print(a.union(b))
print(b.intersection(a))
print(b.difference(a))
print(a.union(b))
print(a.symmetric_difference(b))