Strings

In [ ]:
name_1 = 'John Wick'
name_2 = "Indiana Jones"
print(name_1)
print(name_2)

In [ ]:
# this is a string and not an integer
age = '2'
print(age)

In [ ]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"
print(f)

In [ ]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'
print(f)

In [ ]:
# Two other common special characters are the newline (\n) and horizontal tab (\t):
print('Equation\tSolution\n 55 x 11\t 605\n 132 / 6\t 22')

Raw Strings

In [ ]:
my_path = 'C:\news\today.txt'
print(my_path)

In [ ]:
# Using the “r” (for raw data) prefix on the string
my_path = r'C:\news\today.txt'
print(my_path)

Triple Quotes

In [ ]:
print("""
----------------
LUMBERJACK SONG
I'm a lumberjack
And I'm O.K.
I sleep all night
And I work all day.
---------------""")

Strings Indexing

In [ ]:
name = 'Johnson Smith'
print(name[0])
print(name[1])
print(name[6])
print(name[12])

In [ ]:
print(name[-1])
print(name[-2])
print(name[-13])

Strings Slicing

In [ ]:
print(name)
print(name[0:6])
print(name[7:13])
print(name[-12:-9])

In [ ]:
name[6] = 'c'

In [ ]:
name ='Nat'
print(id(name))

name += 'haniel'
print(id(name))

Strings Concatenation and Repetition

In [ ]:
user_name = input("What is your name? ")
greeting ="Hello," + user_name + "!"
print(greeting)

In [ ]:
one_knight_says ="nee"
many_knights_say = one_knight_says * 20
print(many_knights_say)

In [ ]:
'a' + 'b' * 3 + 'c'

In [ ]:
('a' + 'b') * 3 + 'c'

Some String Functions and Methods

In [ ]:
name = 'Johnson Smith'
len(name)

In [ ]:
age = 3
str(age)

In [ ]:
print(name.lower())
print(name.upper())

In [ ]:
print('Hello World!'.isalnum())
print('Hello World!'.isalpha())
print('hello'.islower())
print('HELLO'.isupper())

In [ ]:
name = 'Francis'
print(name.isdigit())
print(str(age).isdigit())

String Methods that Return a Number

In [ ]:
print('Hello World!'.find('l'))
print('Hello World!'.rfind('l'))
print('Hello World!'.index('l'))
print('Hello World!'.rindex('l'))
print('Hello World!'.rindex('p'))

In [ ]:
name = "John smith"
name = name.replace('s','k')
print(name)
print('mommy'.replace('m','b', 2))

In [ ]:
text = 'I am going to the University of Cincinnati'
name = "Mary-Jane Watson"
print(text.split(' '))
print(name.split('-'))

String Formatting

In [ ]:
name = "Alice"
age = 30
fstring = f"My name is {name} and I am {age} years old."
print(fstring)
fstring = "My name is {} and I am {} years old.".format(name, age)
print(fstring)
fstring = "My name is %s and I am %d years old." % (name, age)
print(fstring)

String formatting for integers and floats

In [ ]:
integer_value = 42
float_value = 3.14159

# 'd' for decimal integer
formatted_integer = f"Integer: {integer_value:d}"
# '.2f' for two decimal places 
formatted_float = f"Float: {float_value:.2f}"

print(formatted_integer)
print(formatted_float)

In [ ]:
# Integer formatting
formatted_integer = "Integer: {}".format(integer_value)
# Float formatting - # Two decimal places
formatted_float = "Float: {:.2f}".format(float_value)
print(formatted_integer)
print(formatted_float)

In [ ]:
# Integer formatting
formatted_integer = "Integer: %d" % integer_value
# Float formatting - # Two decimal places
formatted_float = "Float: %.2f" % float_value  
print(formatted_integer)
print(formatted_float)

Python Dates and Times

In [ ]:
import time

seconds_since_epoch = time.time()
minutes_since_epoch = seconds_since_epoch / 60
hours_since_epoch = minutes_since_epoch / 60
days_since_epoch = hours_since_epoch / 24
years_since_epoch = days_since_epoch / 365.25

print("""s: {:,}
m: {:,}
h: {:,}
d: {:,}
y: {:,}""".format(seconds_since_epoch,
                  minutes_since_epoch,
                  hours_since_epoch,
                  days_since_epoch,
                  years_since_epoch, sep='\n'))

In [ ]:
epoch = time.gmtime(0)
print(epoch)
now = time.gmtime()
print(now)

In [ ]:
# current time
print(time.strftime('%c', now)) 
print(time.strftime('%x', now)) 
print(time.strftime('%X', now))
print(time.strftime('%A, %B %d, %Y, %I:%M %p', now))
new_year = time.strptime('01/01/2023', '%m/%d/%Y')
print(new_year)

In [ ]:
print(time.strftime('%c', time.gmtime()))
time.sleep(5)
print(time.strftime('%c', time.gmtime()))

The datetime Module

In [ ]:
import datetime

print(datetime.date(1776, 7, 4))
print(datetime.date.today())

In [ ]:
# datetime.date instance includes the following attributes:
i_day = datetime.date(1776, 7, 4)
print(i_day.year, i_day.month, i_day.day)

In [ ]:
# datetime.date instance includes the following methods:
i_day = datetime.date(1776, 7, 4)
# replace() - Returns a new datetime.date instance based on date with the given replacements.
print(i_day.replace(year=1826))
# weekday() – Returns an integer representing the day of the week.
print(i_day.weekday())
# ctime() – Returns a formatted date string. Similar to time.ctime().
print(i_day.ctime())
# strftime() – Returns a formatted date string. 
print(i_day.strftime('%A, %B %d, %Y, %I:%M %p'))

In [ ]:
# datetime.time instance includes the following attributes
t = datetime.time(hour=14, minute=13, second=12, microsecond=11, tzinfo=datetime.timezone.utc)
print(t.hour, t.minute, t.second, t.microsecond, t.tzinfo)

In [ ]:
# datetime.time instance includes the following methods
t = datetime.time(hour=14, minute=13, second=12, microsecond=11, tzinfo=datetime.timezone.utc)
print(t.replace(hour=4))
print(t.strftime('%I:%M %p'))

In [ ]:
# datetime.datetime object
today = datetime.datetime.today()
print(today)

print(today.date())
print(today.time())
#  Returns a struct_time representing the local time.
print(today.timetuple())
# Returns a timestamp corresponding to the datetime.
print(today.timestamp())
print(today.weekday())

In [ ]:
# datetime.timedelta object
today = datetime.datetime.today()
print(today)

starttime = today.replace(hour=8, minute=30, second=0, microsecond=0)
endtime = today.replace(hour=8, minute=48, second=23, microsecond=0)
print(starttime, endtime)

racetime = endtime - starttime
print(racetime)
print(type(racetime))
print(racetime.days, racetime.seconds, racetime.microseconds)

print(racetime.total_seconds())

Control Flow

Comparison Operators

In [ ]:
a = 5
b = 6
name = 'Smith'
print(a == 5)
print(a == b)
print(a != b)
print(name != 'Smith')
print(a < b)
print(b > 7)
print(a <= 5)
print(b >= 7)

Logical Operators

In [ ]:
a = 5
b = 6
print(a <= 5 and a < b)
print(a <= 5 and b >= 7)

print(a <= 5 or a < b)
print(a <= 5 or b >= 7)

not(a <= 5)

Decision Blocks

In [ ]:
a = 5
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')

In [ ]:
if a <= 4:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
print('DONE')

In [ ]:
a = 6
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
else:
    print('\'a\' must be greater than 5')
    print('This statement is also executed under the else block')
print('DONE')

In [ ]:
b = input('Type a number for \'b\': ')  # '\' is an escape character
a = float(b)
if a <= 5:
    print('\'a\' is less than or equal to 5')
elif a > 5 and a <= 8:
    print('\'a\' is greater than 5 and less than or equal to 8')
elif a > 8 and a <= 10:
    print('\'a\' is greater than 8 and less than or equal to 10')
else:
    print('\'a\' must be greater than 10')
print('DONE')

In [ ]:
age = 15
if 12 < age < 20:
   print("You are a teenager.")
if 13 <= age <= 19:
   print("You are a teenager.")

Functions

In [ ]:
def printme(var):
    #This returns the variable passed into the function
    return var

In [ ]:
# 1st Function call
printme('First call to user defined function')

In [ ]:
# 2nd Function call
printme(10)

Loops

while loop

In [ ]:
count = 0
while count < 10:
  print(count)
  #count += 1, short-hand notation to increment a variable
  count = count + 1

In [ ]:
# CAUTION - Infinite loop
count = 0
while count >= 0:
  print(count)
  count += 1

In [ ]:
count = 0
while count >= 0:
    print(count)
    count +=1 # count = count + 1
    if count >= 10:
        break

for loop

In [ ]:
for var in 'string':
    print(var)

In [ ]:
k = 'string'
for var in k:
    print(var.upper())

In [ ]:
list1 = ['banana','orange','mango']
for fruit in list1:
    print(fruit)

In [ ]:
for num in (2,4,1,34,5):
    print(num)

In [ ]:
for num in range(10):
    print(num)

In [ ]:
for num in range(-6,6):
    print(num)

In [ ]:
for num in range(0,20,4):
    print(num)

In [ ]:
names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

break and continue

In [ ]:
for num in range(11, 20):
   print(num)
   if num % 5 == 0: 
      break

In [ ]:
for num in range(1, 12):
   if num % 5 == 0: 
      continue
   print(num)

Handling exceptions

In [ ]:
def process_data(data):
    try:
        # Process the data
        result = data['value'] / data['divisor']
    except KeyError as e:
        print(f"KeyError: {e} not found in data.")
    except ZeroDivisionError:
        print("Error: Division by zero.")
    finally:
        print("Data processing complete.")

# Test the function
process_data({'value': 10, 'divisor': 2})
process_data({'value': 10, 'divisor': 0})
process_data({'value': 10})  # Missing 'divisor'