Variables

In [ ]:
name = "Bob"
winner = True
score = 35

Variable names

In [ ]:
my_name = 'John Smith'
v_1 = 8
v_2 = 9

In [ ]:
print(my_name)
age = v_1 + v_2
print ('I am', age, 'years old')

Data types

In [ ]:
ival = 10
print(type(ival)) # output data type <class 'int'>
fval = 20.2
print(type(fval)) # output data type <class 'float'> Â 
x = True
print(type(x)) # output data type <class 'bool'>
print(type("Hello World"))

Comments

In [ ]:
# This line is ignored

In [ ]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

In [ ]:
"""
This is a multiline comment
This line and the line above are both ignored by the interpreter
"""

User Output

In [ ]:

print("hello", "world") # hello world
print("hello", "world", sep=None) # hello world
print("hello", "world", sep=" ") # hello world

In [ ]:
print("hello", "world", sep="") #helloworld

In [ ]:
print("hello", "world", sep="\n")

In [ ]:
print("/home", "user", "documents", sep="/")

In [ ]:
print("", "home", "user", "documents", sep="/")

In [ ]:
ord("r")
ord("\r")

In [ ]:
print("The first sentence", end=". ")
print("The second sentence", end=". ")
print("The last sentence.")

In [ ]:
print("Mercury", "Venus", "Earth", sep=", ", end=", ")
print("Mars", "Jupiter", "Saturn", sep=", ", end=", ")
print("Uranus", "Neptune", "Pluto", sep=", ")

In [ ]:
print("Printing in a Nutshell", end="\n * ")
print("Producing Blank Lines", end="\n * ")
print("Dealing With Newlines", end="\n * ")
print("Passing Arguments")

In [ ]:
with open("file.txt", mode="w", encoding="utf-8") as output_file:
   print("hello world", file=output_file)

In [ ]:
# Common Python Format Specifiers Examples

num = 42
pi = 3.14159
text = "Hi"

print("---- Integer (%d / :d) ----")
print("Old style: %d" % num)
print(f"f-string : {num:d}\n")

print("---- String (%s / :s) ----")
print("Old style: %s" % text)
print(f"f-string : {text:s}\n")

print("---- Float (%f / :f) ----")
print("Old style: %.2f" % pi)   # 2 decimal places
print(f"f-string : {pi:.2f}\n")

print("---- Hexadecimal (%x / :x) ----")
print("Old style: %x" % num)
print(f"f-string : {num:x}")
print("Old style (uppercase): %X" % num)
print(f"f-string (uppercase): {num:X}\n")

print("---- Octal (%o / :o) ----")
print("Old style: %o" % num)
print(f"f-string : {num:o}\n")

print("---- Binary (:b only, new style) ----")
print(f"f-string : {num:b}\n")

print("---- Percentage (%%) ----")
print("Old style: 100%%")
print(f"f-string : {100}%")

User Input

In [ ]:
var = input('Enter a value: ')

# Print the value and the data type BEFORE conversion
print(var, type(var))

In [ ]:
# Use the respective functions to convert 
# the string value to that data type
var1 = float(var)

# Print the value and the data type AFTER conversion
print(var1, type(var1))

In [ ]:
var2 = float(input('Enter a value: '))
print(var2)

Math Operators

In [ ]:
x = 57 	
print("x = ", x)
x = x + 3 	
print("x + 3 = ", x)
x = x - 3 	
print("x - 3 = ", x)
x = x * 3 	
print("x * 3 = ", x)
x = x / 3 	
print("x / 3 = " , x)
x = 29
print("x = ", x)
x = x % 3 	
print("x % 3 = " , x)
x = 29
print("x = ", x)
x = x // 3 	
print("x // 3 = " , x)
x = x ** 3
print("x ** 3 = " , x)

Assignment Operators

In [ ]:
# One-step Addition and Assignment
a = 5
a += 2
print(a)
# One-step Subtraction and Assignment 
a = 5
a -= 2
print(a)
# One-step Multiplication and Assignment
a = 5
a *= 2
print(a)
# One-step Division and Assignment
a = 5
a /= 2
print(a)

Built-in Math Functions

In [ ]:
print(int(5))
print(int('5'))
print(int(5.4))
print(int(5.9))
print(int(-5.9))
print(int("5.3"))

In [ ]:
print(float(5))
print(float('5'))
print(float(5.4))
print(float('-5.99'))

In [ ]:
print(abs(-5))
print(abs(-5.5))

In [ ]:
print(min(2, 1, 3))
print(min(3.14,-1.5,-300))
print(max(2, 1, 3))
print(max(3.14,-1.5,-300))

In [ ]:
print(min('apple','all','arrow'))
print(max('0','a','b','3'))

In [ ]:
print(round(55,-1))
print(round(3.14))
print(round(-3.14))
print(round(3.14, 1))
print(round(3.95, 1))
print(round(1111, 0))

In [ ]:
l = [1,2,3,4,5]
print(sum(l))

The math Module

In [ ]:
import math

print(math.ceil(5.4))
print(math.ceil(-5.4))
print(math.floor(5.6))
print(math.floor(-5.6))

In [ ]:
print(math.trunc(5.4))
print(math.trunc(-5.4))
print(math.trunc(5.6))
print(math.trunc(-5.6))

In [ ]:
print(math.pow(5, 2))
print(math.sqrt(25))

The random Module

In [ ]:
import random

a = random.random()
print(a)
## integer between 1 and 10
a = random.randint(1, 10) 
print(a)
# integer between 0 and 9
a = random.randrange(10)
print(a)
# integer between 1 and 9
a = random.randrange(1, 10)
print(a)
# one of 1, 3, 5, 7, 9
a = random.randrange(1, 10, 2)
print(a)

Seeding

In [ ]:
random.seed(1)
print(random.randint(1, 100))
print(random.randint(1, 100))
print(random.randint(1, 100))
# reseed
random.seed(1)
print(random.randint(1, 100))
print(random.randint(1, 100))
print(random.randint(1, 100))